<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>

<body>
    <%=room.creatUserID %>
        <div class="header">
        </div>
        <div class="chat-container" draggable="false">
            <h4>
                <%=userID %>
            </h4>

            <% for(let i=0; i < chat.length; i++){%>
                <% if(chat[i].writer==userID){ %>
                    <div class="my-profile-image">
                        <%= chat[i].writer %>
                    </div>
                    <div class="my-messages">
                        <%= chat[i].message%>
                    </div>
                    <div style="clear: both;"></div>
                    <%}else{%>
                        <div class="other-profile-image">
                            <%= chat[i].writer %>
                        </div>
                        <div class="other-messages">
                            <span>
                                <%= chat[i].message %>
                            </span>
                        </div>
                        <div style="clear: both;"></div>
                        <%}}%>

        </div>

        <div class="input-messages">
            <input class="chat-input" name="chat" placeholder="채팅">
            <button class="send-btn">전송</button>
            <form action="/room/random" method="POST">
                <button type="submit" id="next-btn">다음</button>
                <input type="hidden" name="creatUserID" value="<%=room.creatUserID%>">
                <input type="hidden" name="userID" value="<%=userID %>">
            </form>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
        <script>


            // 작성자 아이디
            // 현재 유저아이디





            const socket = io() // 유저 웹소켓 연결
            socket.emit('ask-join', '<%= room._id %>')
            socket.on('room-size', (roomSize) => {
                console.log('인원수: ', roomSize)
            })

            // 메시지 보내기
            $('.send-btn').on('click', () => {
                let msg = $('.chat-input').val()
                $('.chat-input').val('')
                socket.emit('message', { msg: msg, roomID: '<%=room._id %>', user: '<%=userID%>' })
            })

            document.querySelector('.chat-input').addEventListener('keydown', function (event) {
                if (event.key === 'Enter') {
                    let msg = $('.chat-input').val()
                    $('.chat-input').val('')
                    socket.emit('message', { msg: msg, roomID: '<%=room._id %>', user: '<%=userID%>' })
                }
            })
            // 메시지 받기
            socket.on('msg', (msg) => {
                let 템플릿
                if (msg.user == '<%=userID%>') {
                    console.log('내꺼')
                    템플릿 = `
                        <div class="my-profile-image">
                            ${msg.user}
                        </div>
                        <div class="my-messages">
                            <span>${msg.message}</span>
                        </div>
                        <div style="clear: both;"></div>`;
                } else {
                    console.log('남의꺼')
                    템플릿 = `
                        <div class="other-profile-image">
                            ${msg.user}
                        </div>
                        <div class="other-messages">
                            <span>${msg.message}</span>
                        </div>
                        <div style="clear: both;"></div>`;
                }
                let chatContainer = document.querySelector('.chat-container');
                chatContainer.insertAdjacentHTML('beforeend', 템플릿)
                chatContainer.scrollTop = chatContainer.scrollHeight;
            })

            socket.on('room-size', (data) => {
                let 템플릿 = `${data}명`
                document.querySelector('.header').innerHTML = 템플릿
            })

            // 페이지이동 감지
            window.addEventListener('beforeunload', function (event) {
                // 페이지를 떠날 때 서버로 이동 감지 요청을 보냄
                fetch('/page-leave', {
                    method: 'POST',
                    body: JSON.stringify({
                        message: 'User is leaving the page <%=userID %>',
                        roomID: '<%=room._id%>',
                        userID: '<%=userID%>'
                    }),
                    headers: { 'Content-Type': 'application/json' }
                });

                // 페이지 이동을 차단하려면 아래의 코드도 추가할 수 있음
                // event.returnValue = 'Are you sure you want to leave?';
            });

        </script>
</body>

</html>